@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

a {
  @apply text-brand underline-offset-4 transition hover:text-brand-dark;
}

body {
  @apply bg-slate-50 text-slate-900;
}

h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  @apply font-semibold text-brand-dark;
}
